<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h3>About this listing</h3>
          <div class="text-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <i>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla qui officia deserunt mollit anim id est laborum.</i>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <ul class="quater">
            <li><span class="ti-check-box"></span>Wireless Internet</li>
            <li><span class="ti-check-box"></span>Street Parking</li>
            <li><span class="ti-check-box"></span>Kitchen</li>
            <li><span class="ti-check-box"></span>Bike Parking</li>
          </ul>
          <ul class="quater">
            <li><span class="ti-check-box"></span>Pets Friendly</li>
            <li><span class="ti-check-box"></span>Moderate</li>
            <li><span class="ti-check-box"></span>Smoking Allowed</li>
            <li><span class="ti-check-box"></span>Good for Kids</li>
          </ul>


          <ul class="quater">
            <li><span class="ti-check-box"></span>Most Reviewed</li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--지훈수정 comment area 분리  -->
        <%= render 'detail/review'%>
        <%= render 'detail/writereview'%>
      </div><!-- /.col-md-8 -->

<!-- slider -->
      <div class="col-md-4">
        <div class="sidebar">
          <div>
            <!-- <#%= render 'chat/chat'%> -->
            <div class="box open">
					    <p><i class="fa fa-clock-o" aria-hidden="true"></i>병원 시간표</p>
					    <div class="box-desc">
					       <p>평일</p>

					       <p>월 <%=@timetable["trmtMonStart"] %> - <%=@timetable["trmtMonEnd"]%></p>
                 <p>화 <%=@timetable["trmtTueStart"] %> - <%=@timetable["trmtTueEnd"]%></p>
                 <p>수 <%=@timetable["trmtWedStart"] %> - <%=@timetable["trmtWedEnd"]%></p>
                 <p>목 <%=@timetable["trmtThuStart"] %> - <%=@timetable["trmtThuEnd"]%></p>
                 <p>금 <%=@timetable["trmtFriStart"] %> - <%=@timetable["trmtFriEnd"]%></p>
                 <p>휴일</p>
					       <p>09:00 AM - 05:00 PM<span>Closed Now !</span></p>
					    </div>
					  </div>
          </div>
        </div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->





</section><!-- /.flat-explore-detail <-->
