<section class="flat-row flat-explore-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="text-box">
          <h3>진료과목</h3>
          <div class="box contact-box">

					 </div>
        </div> -->
        <div class="amenities">
          <% unless @getFacilityInfo.nil? %>
          <ul class="quater">
            <h3>시설정보</h3>
            <li><span class="ti-check-box"></span>응급실 : <%=@getFacilityInfo["emymCnt"]%></li>
            <li><span class="ti-check-box"></span>수술실 : <%=@getFacilityInfo["soprmCnt"]%></li>
            <li><span class="ti-check-box"></span>상급 입원실 : <%=@getFacilityInfo["hghrSickbdCnt"]%></li>
            <li><span class="ti-check-box"></span>일반 입원실 : <%=@getFacilityInfo["stdSickbdCnt"]%></li>
            <li><span class="ti-check-box"></span>성인/소아 중환자실 : <%=@getFacilityInfo["aduChldSprmCnt"]%></li>
            <li><span class="ti-check-box"></span>신생아 중환자실 : <%=@getFacilityInfo["nbySprmCnt"]%></li>
            <li><span class="ti-check-box"></span>물리치료실 : <%=@getFacilityInfo["ptrmCnt"]%></li>
            <li><span class="ti-check-box"></span>분만실 : <%=@getFacilityInfo["partumCnt"]%></li>
          </ul>
          <%end%>
          <% unless @getSpclMdlrtInfoList.nil? %>
          <ul class="quater">
            <h3>특수진료</h3>
            <% @getSpclMdlrtInfoList.each do |val|%>
            <li><span class="ti-check-box"></span><%=val["srchCdNm"]%></li>
            <%end%>
          </ul>
          <%end%>

          <ul class="quater">
            <h3>전문병원지정분야</h3>
            <% @getSpclMdlrtInfoList.each do |val|%>
            <li><span class="ti-check-box"></span><%=val["srchCdNm"]%></li>
            <%end%>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--지훈수정 comment area 분리  -->

      </div><!-- /.col-md-8 -->

<!-- slider -->
      <div class="col-md-4">
        <div class="sidebar">

            <!-- <#%= render 'chat/chat'%> -->
            <% unless @timetable.nil? %>
            <div class="box open">
					    <h4><i class="fa fa-clock-o" aria-hidden="true"></i> 병원 시간표</h4>
					    <div class="box-desc">
					       <h4><b>평일</b></h4>

					       <p><b>월</b>    <%=@timetable["trmtMonStart"] %> - <%=@timetable["trmtMonEnd"]%></p>
                 <p><b>화</b>    <%=@timetable["trmtTueStart"] %> - <%=@timetable["trmtTueEnd"]%></p>
                 <p><b>목</b>    <%=@timetable["trmtThuStart"] %> - <%=@timetable["trmtThuEnd"]%></p>
                 <p><b>수</b>    <%=@timetable["trmtWedStart"] %> - <%=@timetable["trmtWedEnd"]%></p>
                 <p><b>금</b>    <%=@timetable["trmtFriStart"] %> - <%=@timetable["trmtFriEnd"]%></p>
                 <p><b>점심시간</b> <%=@timetable["lunchWeek"]%></p>
                 <% unless @timetable["trmtSatStart"].nil?%>
                   <hr/>
                     <h4><b>휴일</b></h4>
    					       <p><b>토</b>    <%=@timetable["trmtSatStart"] %> - <%=@timetable["trmtSatEnd"]%><span>휴일 진료 !</span></p>
                     <% unless @timetable["lunchSat"].nil?%>
                     <p><b>점심시간</b> <%=@timetable["lunchSat"]%></p>
                     <%end%>
                   <%end%>

					    </div>
					  </div>
            <% end%>
            <% unless @getMdlrtSbjectInfoList.nil? %>
            <div class="box open">
              <h4>진료과목 : 의사 수</h4>
                <hr/>
                 <ul>
                      <% @getMdlrtSbjectInfoList.each do |val|%>
                      <li><%= val["dgsbjtCdNm"]%> : <%=val["dgsbjtPrSdrCnt"]%>명</li>
                      <% end%>
                 </ul>
            </div>
            <%end%>
        </div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-explore-detail <-->



<section class="flat-row flat-explore-detail">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
            <%= render 'detail/review'%>
            <%= render 'detail/writereview'%>
					</div><!-- /.col-md-8 -->
					<div class="col-md-4">
						<div class="sidebar">

						</div>
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-explore-detail <-->
