<section id="drillcate" class="flat-row flat-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel">
					<div class="team-member">
						<div class="member-image">
							<img src="<%= asset_path 'page/team-01.png'%>" alt="">
						</div>
						<div class="member-content">
							<h4 class="name">Tifany Reny</h4>
							<div class="option">
								Reviewer
							</div>
						</div>
					</div><!-- /.team-member -->
					<div class="team-member">
						<div class="member-image">
								<img src="<%= asset_path 'page/team-02.png'%>" alt="">
						</div>
						<div class="member-content">
							<h4 class="name">Adam Levan</h4>
							<div class="option">
								Reviewer
							</div>
						</div>
					</div><!-- /.team-member -->
					<div class="team-member">
						<div class="member-image">
								<img src="<%= asset_path 'page/team-03.png'%>" alt="">
						</div>
						<div class="member-content">
							<h4 class="name">Lisay lohen</h4>
							<div class="option">
								Reviewer
							</div>
						</div>
					</div><!-- /.team-member -->
					<div class="team-member">
						<div class="member-image">
								<img src="<%= asset_path 'page/team-04.png'%>" alt="">
						</div>
						<div class="member-content">
							<h4 class="name">Jessica Anta</h4>
							<div class="option">
								Reviewer
							</div>
						</div>
					</div><!-- /.team-member -->
					<div class="team-member">
						<div class="member-image">
								<img src="<%= asset_path 'page/team-04.png'%>" alt="">
						</div>
						<div class="member-content">
							<h4 class="name">Jessica Anta</h4>
							<div class="option">
								Reviewer
							</div>
						</div>
					</div><!-- /.team-member -->
				</div><!-- /.owl-carousel -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-team -->
