
<section id="sub_rec_card" class="flat-row flat-imagebox style3">
	<div class="container">

		<div class="wrap-imagebox style3">
			<div class="row">
				<div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>10 rating</li>
								 <li>Ultra High End</li>
								 <li>Hotel</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
				</div><!-- /.col-md-4 -->
				<div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>10 rating</li>
								 <li>Ultra High End</li>
								 <li>Hotel</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
			 </div><!-- /.col-md-4 -->
			 <div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>10 rating</li>
								 <li>Ultra High End</li>
								 <li>Hotel</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
			 </div><!-- /.col-md-4 -->
			</div><!-- /.row -->
			<div class="height50"></div>
			<div class="row">
				<div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>10 rating</li>
								 <li>Ultra High End</li>
								 <li>Hotel</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
			 </div><!-- /.col-md-4 -->

				<!--  -->
				<div class="col-md-4">
					<div class="imagebox style1">
						<div class="box-imagebox">

							<div class="box-content">
								<div class="box-title">
									<a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
								<br />
								<div class="shine_star">
									<div class="queue">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-half-o" aria-hidden="true"></i>
									</div>
								</div>


								<ul class="rating">
									<li>10 rating</li>
									<li>Ultra High End</li>
									<li>Hotel</li>
								</ul>
								<div class="box-desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</div>
								<div class="box-desc">
									 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							 </div>
							</div><!-- /.box-content -->
							<ul class="location">
								<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
								<li class="open">Open Now !</li>
							</ul><!-- /.location -->
						</div><!-- /.box-imagebox -->
					</div><!-- /.imagebox style1 -->
				</div><!-- /.col-md-4 -->
				<!--  -->

				<div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>전문의</li>
								 <li>곽지훈</li>
								 <li>추천100개</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
			 </div><!-- /.col-md-4 -->
			</div><!-- /.row -->
			<div class="height50"></div>
			<div class="row">
				<div class="col-md-4">
					<div class="imagebox style1">
						<div class="box-imagebox">

							<div class="box-content">
								<div class="box-title">
									<a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
								</div>
								<br />
								<div class="shine_star">
									<div class="queue">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-half-o" aria-hidden="true"></i>
									</div>
								</div>


								<ul class="rating">
									<li>10 rating</li>
									<li>Ultra High End</li>
									<li>Hotel</li>
								</ul>
								<div class="box-desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</div>
								<div class="box-desc">
									 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							 </div>
							</div><!-- /.box-content -->
							<ul class="location">
								<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
								<li class="open">Open Now !</li>
							</ul><!-- /.location -->
						</div><!-- /.box-imagebox -->
					</div><!-- /.imagebox style1 -->
				</div><!-- /.col-md-4 -->
				<div class="col-md-4">
				 <div class="imagebox style1">
					 <div class="box-imagebox">

						 <div class="box-content">
							 <div class="box-title">
								 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
							 </div>
							 <br />
							 <div class="shine_star">
								 <div class="queue">
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star" aria-hidden="true"></i>
									 <i class="fa fa-star-half-o" aria-hidden="true"></i>
								 </div>
							 </div>


							 <ul class="rating">
								 <li>10 rating</li>
								 <li>Ultra High End</li>
								 <li>Hotel</li>
							 </ul>
							 <div class="box-desc">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 </div>
							 <div class="box-desc">
									<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
							</div>
						 </div><!-- /.box-content -->
						 <ul class="location">
							 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
							 <li class="open">Open Now !</li>
						 </ul><!-- /.location -->
					 </div><!-- /.box-imagebox -->
				 </div><!-- /.imagebox style1 -->
			 </div><!-- /.col-md-4 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="btn-more">
						<a href="#" title="">Show More</a>
					</div>
				</div>
			</div><!-- /.row -->
		</div>

	</div><!-- /.container -->
</section><!-- /.flat-imagebox style3 -->
