		<!--header(nav 포함)  -->
		<%= render 'temp/header'%>
		<!-- end header(nav 포함) -->

		<!-- SearchBox  -->
		<%= render 'temp/searchbox'%>
		<!-- end SearchBox  -->

		<!-- category -->
		<%= render 'temp/cate'%>
		<!-- end category -->

		<section id="sc2" class="flat-row flat-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel">
							<div class="team-member">
								<div class="member-image">
									<img src="<%= asset_path 'page/team-01.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Tifany Reny</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-02.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Adam Levan</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-03.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Lisay lohen</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-04.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-04.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
						</div><!-- /.owl-carousel -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-team -->

		<section class="flat-row flat-imagebox style3">
				<div class="container">
					<div class="wrap-imagebox style3">
						<div class="row">
							<div class="col-sm-12">
								<div class="imagebox style2">
									<div class="box-imagebox">
										<div class="box-header">
											<div class="box-image">
												<img src="<%= asset_path 'page/img-v2-01.png'%>" alt="">
												<a href="#" title="">Preview</a>
											</div>
										</div><!-- /.box-header -->
										<div class="box-content">
											<div class="box-title ad">
												<span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
												<div class="queue">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-half-o" aria-hidden="true"></i>
												</div>
											</div>
											<ul class="rating">
												<li>5 rating</li>
												<li>Moderate</li>
												<li>Restaurant</li>
											</ul>
											<div class="box-desc">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
											</div>
											<ul class="location">
												<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
												<li class="closed">Closed Now !</li>
											</ul>
										</div><!-- /.box-content -->
									</div><!-- /.box-imagebox -->
								</div><!-- /.imagebox style2 -->
							</div><!-- /.col-sm-12 -->
							<div class="col-sm-12">
								<div class="imagebox style2">
									<div class="box-imagebox">
										<div class="box-header">
											<div class="box-image">
												<img src="<%= asset_path 'page/img-v2-01.png'%>" alt="">
												<a href="#" title="">Preview</a>
											</div>
										</div><!-- /.box-header -->
										<div class="box-content">
											<div class="box-title ad">
												<span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
												<div class="queue">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-half-o" aria-hidden="true"></i>
												</div>
											</div>
											<ul class="rating">
												<li>5 rating</li>
												<li>Moderate</li>
												<li>Restaurant</li>
											</ul>
											<div class="box-desc">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
											</div>
											<ul class="location">
												<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
												<li class="closed">Closed Now !</li>
											</ul>
										</div><!-- /.box-content -->
									</div><!-- /.box-imagebox -->
								</div><!-- /.imagebox style2 -->
							</div><!-- /.col-sm-12 -->
						</div><!-- /.row -->

					</div>
				</div><!-- /.container -->
			</section><!-- /.flat-imagebox style3 -->


		<section id="reccard" class="flat-row flat-imagebox style3">
		  <div class="container">

		    <div class="wrap-imagebox style3">
		      <div class="row">
						<div class="col-md-4">
					 	 <div class="imagebox style1">
					 		 <div class="box-imagebox">

					 			 <div class="box-content">
					 				 <div class="box-title">
					 					 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
					 				 </div>
					 				 <br />
					 				 <div class="shine_star">
					 					 <div class="queue">
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star-half-o" aria-hidden="true"></i>
					 					 </div>
					 				 </div>


					 				 <ul class="rating">
					 					 <li>10 rating</li>
					 					 <li>Ultra High End</li>
					 					 <li>Hotel</li>
					 				 </ul>
					 				 <div class="box-desc">
					 					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					 				 </div>
					 				 <div class="box-desc">
					 						<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
					 				</div>
					 			 </div><!-- /.box-content -->
					 			 <ul class="location">
					 				 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
					 				 <li class="open">Open Now !</li>
					 			 </ul><!-- /.location -->
					 		 </div><!-- /.box-imagebox -->
					 	 </div><!-- /.imagebox style1 -->
					  </div><!-- /.col-md-4 -->
						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
					 <div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="height50"></div>
		      <div class="row">
						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->

						<!--  -->
		        <div class="col-md-4">
		          <div class="imagebox style1">
		            <div class="box-imagebox">

		              <div class="box-content">
		                <div class="box-title">
		                  <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
		                </div>
										<br />
										<div class="shine_star">
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>


		                <ul class="rating">
		                  <li>10 rating</li>
		                  <li>Ultra High End</li>
		                  <li>Hotel</li>
		                </ul>
		                <div class="box-desc">
		                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		                </div>
										<div class="box-desc">
										 	 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									 </div>
		              </div><!-- /.box-content -->
		              <ul class="location">
		                <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
		                <li class="open">Open Now !</li>
		              </ul><!-- /.location -->
		            </div><!-- /.box-imagebox -->
		          </div><!-- /.imagebox style1 -->
		        </div><!-- /.col-md-4 -->
						<!--  -->

						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>전문의</li>
										 <li>곽지훈</li>
										 <li>추천100개</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="height50"></div>
		      <div class="row">
						<div class="col-md-4">
		          <div class="imagebox style1">
		            <div class="box-imagebox">

		              <div class="box-content">
		                <div class="box-title">
		                  <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
		                </div>
										<br />
										<div class="shine_star">
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>


		                <ul class="rating">
		                  <li>10 rating</li>
		                  <li>Ultra High End</li>
		                  <li>Hotel</li>
		                </ul>
		                <div class="box-desc">
		                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		                </div>
										<div class="box-desc">
										 	 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									 </div>
		              </div><!-- /.box-content -->
		              <ul class="location">
		                <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
		                <li class="open">Open Now !</li>
		              </ul><!-- /.location -->
		            </div><!-- /.box-imagebox -->
		          </div><!-- /.imagebox style1 -->
		        </div><!-- /.col-md-4 -->
						<div class="col-md-4">
 						 <div class="imagebox style1">
 							 <div class="box-imagebox">

 								 <div class="box-content">
 									 <div class="box-title">
 										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
 									 </div>
 									 <br />
 									 <div class="shine_star">
 										 <div class="queue">
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
 										 </div>
 									 </div>


 									 <ul class="rating">
 										 <li>10 rating</li>
 										 <li>Ultra High End</li>
 										 <li>Hotel</li>
 									 </ul>
 									 <div class="box-desc">
 										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 									 </div>
 									 <div class="box-desc">
 											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
 									</div>
 								 </div><!-- /.box-content -->
 								 <ul class="location">
 									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
 									 <li class="open">Open Now !</li>
 								 </ul><!-- /.location -->
 							 </div><!-- /.box-imagebox -->
 						 </div><!-- /.imagebox style1 -->
 					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="row">
		        <div class="col-md-12">
		          <div class="btn-more">
		            <a href="#" title="">Show More</a>
		          </div>
		        </div>
		      </div><!-- /.row -->
		    </div>

		  </div><!-- /.container -->
		</section><!-- /.flat-imagebox style3 -->





		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="social-ft">
							<li>
								<a href="#" title="">
									<i class="ti-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-twitter-alt" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-google" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-pinterest" aria-hidden="true"></i>
								</a>
							</li>
						</ul><!-- /.social-ft -->
						<div class="copyright">
							© 2017 Copyright by Deercreative. All rights reserved.
						</div><!-- /.copyright -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->

		<div class="button-go-top">
			<a href="#" title="" class="go-top">
				<i class="fa fa-chevron-up"></i>
			</a><!-- /.go-top -->
		</div><!-- /.button-go-top -->
