
		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->

		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="header-wrap">
							<div id="logo" class="logo">
								<a href="index.html" title="">
										다나아<span style="color: red;"> +</span>
								</a>
							</div><!-- /.logo -->
							<div class="nav-wrap">
								<nav id="mainnav" class="mainnav">
									 <ul class="menu">
									 	<li>
									 		<a href="#" title="">Explore</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="explore-v1.html" title="">Explore Map Zoom In</a>
									 			</li>
									 			<li>
									 				<a href="explore-v2.html" title="">Explore Map Zoom Out</a>
									 			</li>
									 			<li>
									 				<a href="explore-v3.html" title="">Explore Map List</a>
									 			</li>
									 			<li>
									 				<a href="explore-v4.html" title="">Explore Grid</a>
									 			</li>
									 			<li>
									 				<a href="explore-v5.html" title="">Explore List</a>
									 			</li>
									 			<li>
									 				<a href="explore-detail.html" title="">Explore Details</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="#" title="">Learn</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="index.html" title="">Index Layout</a>
									 			</li>
									 			<li>
									 				<a href="404.html" title="">404 Page</a>
									 			</li>
									 			<li>
									 				<a href="addlisting.html" title="">Add Listings</a>
									 			</li>
									 			<li>
									 				<a href="comingsoon.html" title="">Comming Soon</a>
									 			</li>
									 			<li>
									 				<a href="contact.html" title="">Contact</a>
									 			</li>
									 			<li>
									 				<a href="price.html" title="">Price Page</a>
									 			</li>
									 			<li>
									 				<a href="work.html" title="">How It Works</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="blog.html" title="">Blog</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="blog.html" title="">Blog</a>
									 			</li>
									 			<li>
									 				<a href="blog-single.html" title="">Blog Single</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="login.html" title="">Log In</a>
									 	</li>
									 	<li>
									 		<a href="register.html" title="">Sign Up</a>
									 	</li>
									 </ul>
								</nav><!-- /.mainnav -->
								<div class="button-header">
									<a href="http://corpthemes.com/html/dailist/register.html" title=""><i class="ti-plus"></i>Add Your Properties</a>
								</div>
								<div class="show-search">
									<button><span class="ti-search"></span></button>
									<div class="submenu top-search search-header">
					                    <form role="search" method="get" class="search-form" action="#">
											<label>
												<input type="search" class="search-field" placeholder="Search …" value="" name="search">
											</label>
											<button class="search-submit-form" title="Search now"><i class="fa fa-search" aria-hidden="true"></i></button>
										</form>
									</div>
								</div><!-- /.show-search -->
								<div class="btn-menu">
		                            <span></span>
		                        </div><!-- //mobile menu button -->
							</div><!-- /.nav-wrap -->
						</div><!-- /.header-wrap -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div><!-- /.header -->

		<section class="page-title style2 parallax parallax1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-heading">
							다나아<span style="color: red;"> +</span>
						</div>
						<div class="text-heading">
							서비스 준비중 입니다.
						</div>
						<div class="wrap-box-search">
							<form action="#" method="get" accept-charset="utf-8">
								<span>
									<input type="text" placeholder="병명을 입력해주세요" name="search">
								</span>
								<span class="location">
									<span class="ti-location-pin"></span>
									<input type="text" placeholder="서울시 역삼 1동" name="location">
								</span>
								<span class="categories">
									<span class="ti-angle-down"></span>
									<select name="categories">
										<option value="">카테고리 선택</option>
										<option value="">소아과</option>
										<option value="">산부인과</option>
										<option value="">내과</option>
										<option value="">외과</option>
										<option value="">피부과</option>
										<option value="">성형외과</option>
										<option value="">정형외과</option>
										<option value="">한의원</option>
										<option value="">안과</option>
										<option value="">이비인후과</option>
										<option value="">치과</option>
										<option value="">약국ㄴ</option>

									</select>
								</span>
								<button id="gocard" class="search-btn">찾기</button>
								<!-- #type="submit" -->
							</form><!-- /form -->
						</div><!-- /.wrap-box-search -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.page-title -->
		<section id="sc" class="flat-highlights">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="highlights">
							<ul class="menu-list">

								<li class="col-sm-4">
									<!--  class="active" -->
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img1.png'%>" alt="">
										<span>소아과</span>
									</a>

								</li>
								<li class="col-sm-4">
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img2.png'%>" alt="">
										<span>산부인과</span>
									</a>

								</li>
								<li class="col-sm-4">
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img3.png'%>" alt="">
										<span>내과</span>
									</a>

								</li>
								<li class="col-sm-4">
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img4.png'%>" alt="">
										<span>외과</span>
									</a>

								</li>
								<li class="col-sm-4">
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img5.png'%>" alt="">
										<span>피부과</span>
									</a>

								</li>
								<li class="col-sm-4">
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img6.png'%>" alt="">
										<span>성형외과</span>
									</a>

								</li>
							</ul><!-- /.menu-list -->
						</div><!-- /.highlights -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</section><!-- /.flat-highlights -->
		<section id="sc1" class="flat-highlights">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="highlights">
							<ul class="menu-list">

								<li>
									<!--  class="active" -->
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img7.png'%>" alt="">
										<span>정형외과</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img8.png'%>" alt="">
										<span>한의원</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img9.png'%>" alt="">
										<span>안과</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img10.png'%>" alt="">
										<span>이비인후과</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="<%= asset_path 'cate/img11.png'%>" alt="">
										<span>치과</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
									<img src="<%= asset_path 'cate/img12.png'%>" alt="">
										<span>약국</span>
									</a>

								</li>
							</ul><!-- /.menu-list -->
						</div><!-- /.highlights -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</section><!-- /.flat-highlights -->
		<section id="sc2" class="flat-row flat-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel">
							<div class="team-member">
								<div class="member-image">
									<img src="<%= asset_path 'page/team-01.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Tifany Reny</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-02.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Adam Levan</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-03.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Lisay lohen</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-04.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
										<img src="<%= asset_path 'page/team-04.png'%>" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
						</div><!-- /.owl-carousel -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-team -->
		<section id="reccard" class="flat-row flat-imagebox style3">
		  <div class="container">

		    <div class="wrap-imagebox style3">
		      <div class="row">
						<div class="col-md-4">
					 	 <div class="imagebox style1">
					 		 <div class="box-imagebox">

					 			 <div class="box-content">
					 				 <div class="box-title">
					 					 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
					 				 </div>
					 				 <br />
					 				 <div class="shine_star">
					 					 <div class="queue">
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star" aria-hidden="true"></i>
					 						 <i class="fa fa-star-half-o" aria-hidden="true"></i>
					 					 </div>
					 				 </div>


					 				 <ul class="rating">
					 					 <li>10 rating</li>
					 					 <li>Ultra High End</li>
					 					 <li>Hotel</li>
					 				 </ul>
					 				 <div class="box-desc">
					 					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					 				 </div>
					 				 <div class="box-desc">
					 						<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
					 				</div>
					 			 </div><!-- /.box-content -->
					 			 <ul class="location">
					 				 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
					 				 <li class="open">Open Now !</li>
					 			 </ul><!-- /.location -->
					 		 </div><!-- /.box-imagebox -->
					 	 </div><!-- /.imagebox style1 -->
					  </div><!-- /.col-md-4 -->
						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
					 <div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="height50"></div>
		      <div class="row">
						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>10 rating</li>
										 <li>Ultra High End</li>
										 <li>Hotel</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->

						<!--  -->
		        <div class="col-md-4">
		          <div class="imagebox style1">
		            <div class="box-imagebox">

		              <div class="box-content">
		                <div class="box-title">
		                  <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
		                </div>
										<br />
										<div class="shine_star">
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>


		                <ul class="rating">
		                  <li>10 rating</li>
		                  <li>Ultra High End</li>
		                  <li>Hotel</li>
		                </ul>
		                <div class="box-desc">
		                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		                </div>
										<div class="box-desc">
										 	 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									 </div>
		              </div><!-- /.box-content -->
		              <ul class="location">
		                <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
		                <li class="open">Open Now !</li>
		              </ul><!-- /.location -->
		            </div><!-- /.box-imagebox -->
		          </div><!-- /.imagebox style1 -->
		        </div><!-- /.col-md-4 -->
						<!--  -->

						<div class="col-md-4">
						 <div class="imagebox style1">
							 <div class="box-imagebox">

								 <div class="box-content">
									 <div class="box-title">
										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									 </div>
									 <br />
									 <div class="shine_star">
										 <div class="queue">
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star" aria-hidden="true"></i>
											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
										 </div>
									 </div>


									 <ul class="rating">
										 <li>전문의</li>
										 <li>곽지훈</li>
										 <li>추천100개</li>
									 </ul>
									 <div class="box-desc">
										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									 </div>
									 <div class="box-desc">
											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									</div>
								 </div><!-- /.box-content -->
								 <ul class="location">
									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									 <li class="open">Open Now !</li>
								 </ul><!-- /.location -->
							 </div><!-- /.box-imagebox -->
						 </div><!-- /.imagebox style1 -->
					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="height50"></div>
		      <div class="row">
						<div class="col-md-4">
		          <div class="imagebox style1">
		            <div class="box-imagebox">

		              <div class="box-content">
		                <div class="box-title">
		                  <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
		                </div>
										<br />
										<div class="shine_star">
											<div class="queue">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star-half-o" aria-hidden="true"></i>
											</div>
										</div>


		                <ul class="rating">
		                  <li>10 rating</li>
		                  <li>Ultra High End</li>
		                  <li>Hotel</li>
		                </ul>
		                <div class="box-desc">
		                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		                </div>
										<div class="box-desc">
										 	 <img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
									 </div>
		              </div><!-- /.box-content -->
		              <ul class="location">
		                <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
		                <li class="open">Open Now !</li>
		              </ul><!-- /.location -->
		            </div><!-- /.box-imagebox -->
		          </div><!-- /.imagebox style1 -->
		        </div><!-- /.col-md-4 -->
						<div class="col-md-4">
 						 <div class="imagebox style1">
 							 <div class="box-imagebox">

 								 <div class="box-content">
 									 <div class="box-title">
 										 <a href="#" title="">Luxury Auto</a><i class="fa fa-check-circle" aria-hidden="true"></i>
 									 </div>
 									 <br />
 									 <div class="shine_star">
 										 <div class="queue">
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star" aria-hidden="true"></i>
 											 <i class="fa fa-star-half-o" aria-hidden="true"></i>
 										 </div>
 									 </div>


 									 <ul class="rating">
 										 <li>10 rating</li>
 										 <li>Ultra High End</li>
 										 <li>Hotel</li>
 									 </ul>
 									 <div class="box-desc">
 										 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 									 </div>
 									 <div class="box-desc">
 											<img src="<%= asset_path 'icon/a1.png'%>" alt="" style="width: 50%;height: 50%;">
 									</div>
 								 </div><!-- /.box-content -->
 								 <ul class="location">
 									 <li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
 									 <li class="open">Open Now !</li>
 								 </ul><!-- /.location -->
 							 </div><!-- /.box-imagebox -->
 						 </div><!-- /.imagebox style1 -->
 					 </div><!-- /.col-md-4 -->
		      </div><!-- /.row -->
		      <div class="row">
		        <div class="col-md-12">
		          <div class="btn-more">
		            <a href="#" title="">Show More</a>
		          </div>
		        </div>
		      </div><!-- /.row -->
		    </div>

		  </div><!-- /.container -->
		</section><!-- /.flat-imagebox style3 -->





		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="social-ft">
							<li>
								<a href="#" title="">
									<i class="ti-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-twitter-alt" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-google" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-pinterest" aria-hidden="true"></i>
								</a>
							</li>
						</ul><!-- /.social-ft -->
						<div class="copyright">
							© 2017 Copyright by Deercreative. All rights reserved.
						</div><!-- /.copyright -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->

		<div class="button-go-top">
			<a href="#" title="" class="go-top">
				<i class="fa fa-chevron-up"></i>
			</a><!-- /.go-top -->
		</div><!-- /.button-go-top -->
