<!-- ####################################header############################################# -->
      <!-- Preloader -->
      <div class="preloader">
         <div class="clear-loading loading-effect-2">
            <span></span>
         </div>
      </div><!-- /.preloader -->

      <div id="main_header" class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="header-wrap">
                     <div id="logo" class="logo">
                        <a href="/" title="">
                              다나아<span style="color: red;">+</span>
                        </a>
                     </div><!-- /.logo -->
                     <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">

                    <% if user_signed_in? %>
                               <li>
                                <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
                                 </li>
                                 <li>
                                    <%= link_to edit_user_registration_path do %>
                                       <% unless current_user.profile_img.nil? %>
                                           <%= image_tag current_user.profile_img, class: "img-circular" %>
                                        <% else %>
                                           <%= image_tag 'user/profile.png', class: "img-circular" %>
                                        <% end %>
                                     <% end %>
                                   <span><%= current_user.name %>님</span>
                                 </li>
                              <% else %>
                                 <li>
                                    <%= link_to '로그인', new_user_session_path %>
                                 </li>
                                 <li>
                                    <%= link_to '회원가입', new_user_registration_path %>
                                 </li>
                              <% end %>
                            </ul>
                        </nav><!-- /.mainnav -->

												<!-- 지훈 수정 -->
                        <!-- <div class="button-header">
                           <a href="http://corpthemes.com/html/dailist/register.html" title=""><i class="ti-plus"></i>Add Your Properties</a>
                        </div> -->
													<!-- 돋보기 눌렀을때 searchbox로 이동(사진 추가) 지훈수정-->
												<div class="show-search">
                           <button><img src="<%= asset_path "icon/searchButton.png"%>" alt=""></button>

                        </div><!-- /.show-search -->
                        <div class="btn-menu">
                                  <span></span>
                              </div><!-- //mobile menu button -->
                     </div><!-- /.nav-wrap -->
                  </div><!-- /.header-wrap -->
               </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
         </div><!-- /.container-fluid -->
      </div><!-- /.header -->
<!-- ####################################end header############################################# -->
<script>

	$(function(){
		//헤더 고정 지훈수정
		//$(".show-search button").hide()
		window.onscroll = function() {
			fixheader()
		};
		var main_header = document.getElementById("main_header");
		var sticky = main_header.offsetTop;
		function fixheader() {
			if (window.pageYOffset > sticky) {
				//$(".show-search button").show()
				main_header.classList.add("sticky_header");
			} else {
				main_header.classList.remove("sticky_header");
			}
		}
		$(".show-search button").click(function(e){
			//searchButton in header 루트 페이지 or not
			if (typeof rootpage !== 'undefined'){
					var offset = $(".page-title").offset();
					$("html,body").animate({
						scrollTop:offset.top
					},"slow");
			}else{
					window.location.href="/"
			}
		})

	})

</script>
