<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Dailist</title>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Boostrap style -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"> -->
  <!-- Theme style -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
  <!-- Reponsive -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css"> -->

  <!-- Favicon -->

  <link href="<%= asset_path 'icon/icon2.png'%>" rel="shortcut icon">
  <!-- 폰트 -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
  <style>

#sc img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#sc1 img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shine_star{
  color:	#FFD700;
}
  </style>

  <!-- Javascript -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
</head>
<body>

<%= yield %>



</body>





	<script>

	$("#sc a").click(function(e) { e.preventDefault(); });
	$("#sc1 a").click(function(e) { e.preventDefault(); });
	var $new = $('#sc2');
	$new.hide('#sc2')

	var check =true;

	$('#sc').click(function(){
		if (check){
			$('#sc').after($new);
			$new.show('slow');
			check=false;
		}else{
				$new.hide('show')
				check=true;
		}
	})

	$('#sc1').click(function(){
		if (check){
			$('#sc1').after($new);
			$new.show('slow');
			check=false;
		}else{
				$new.hide('show')
				check=true;
		}
	})


	$("#reccard").hide()
	$("#gocard").click(function(e){
		e.preventDefault();
		$("#reccard").show("slow")
		var offset = $("#reccard").offset();
		$("html,body").animate({
			scrollTop:offset.top
		},"slow");
	})

	</script>

</html>
