<section class="flat-row flat-login style2 parallax1">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
					</div><!-- /.col-lg-2 -->
					<div class="col-lg-4 col-sm-6">
						<div class="login-form style2">
							<h3>다나아 회원 가입</h3>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
								<!-- <div class="wrap-login firstname">
									<label>First name</label>
									<input type="text" class="first-name" name="firstname">
								</div>
								<div class="wrap-login lastname">
									<label>Last name</label>
									<input type="text" class="last-name" name="lastname">
								</div> -->
								<div class="wrap-login">
                  <%= f.input :email, required: true, autofocus: true %>
								</div>
                <hr>
								<div class="wrap-login">
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>

								</div>
                <div class="wrap-login">
                  <%= f.input :password_confirmation, required: true %>
								</div>
                <hr>
                <div class="wrap-login">
                  <%= f.input :name %>
								</div>

								<div class="btn-more">
                  <%= link_to "회원가입 하기", new_user_registration_path %><br />
								</div>
              <% end %>
						</div><!-- /.login-form style2 -->
					</div><!-- /.col-lg-4 col-sm-6 -->
					<div class="col-lg-5 col-sm-6">
            <div class="login-social">
							<div>당신의 SNS 계정을 통해 빠르게 다나아를 이용하세요.</div>
              <%= render "users/shared/links" %>
							<!-- <a href="#" class="facebook" title=""><span class="ti-facebook"></span>Login with Facebook</a>
							<p>or</p>
							<a href="#" class="twitter" title=""><span class="ti-twitter-alt"></span>Login with Twitter</a> -->
						</div><!-- /.login-social -->
					</div><!-- /.col-lg-5 col-sm-6 -->
					<div class="col-lg-1">
					</div><!-- /.col-lg-1 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.flat-login style2 -->
