


<section class="flat-row flat-login parallax1">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
					</div><!-- /.col-lg-2 -->
					<div class="col-lg-4 col-sm-6">
						<div class="login-form">
							<h3>다나아 회원 선호도 변경</h3>


							<%= simple_form_for @preference, url: users_preference_path do |f|%>
								<%= f.input :dist %>
								<%= f.input :price %>
								<%= f.input :grade %>
							<%end%>
						</div><!-- /.login-form style2 -->
					</div><!-- /.col-lg-4 col-sm-6 -->
					<div class="col-lg-5 col-sm-6">
            <div class="login-social">

              <%= link_to "선호도 변경"%>

              <hr />

              <p>회원 탈퇴 하시겠습니까?
              <%= link_to "회원 탈퇴", registration_path(resource_name), data: { confirm: "진짜로요?" }, method: :delete %></p>

              <%= link_to "뒤로가기", :back %>
							<!-- <a href="#" class="facebook" title=""><span class="ti-facebook"></span>Login with Facebook</a>
							<p>or</p>
							<a href="#" class="twitter" title=""><span class="ti-twitter-alt"></span>Login with Twitter</a> -->
						</div><!-- /.login-social -->
					</div><!-- /.col-lg-5 col-sm-6 -->
					<div class="col-lg-1">
					</div><!-- /.col-lg-1 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.flat-login style2 -->
		<script>
